body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333333;
    margin: 20px;
}

h1:before {
    content: 'R0331 - Dynamic Web Applications with JavaScript';
    display: block;
    font-size: 60%;
    font-style: italic;
}

h1 {
    height: 60px;
    background: url('../img/js-logo.png') no-repeat right top;
    color: #dc0614;
    text-shadow: 1px 1px 1px #1966a2;
}

h2 {
    color: #1966a2;
}

hr {
    border: 1px solid #1966a2;
}

.red-box {
    background: red;
    width: 50px;
    height: 50px;
}

.no-border {
    border: 0;
    height: auto;
    padding: 0;
    margin: 0;
}

.red,
.error,
.error textarea,
.error input {
    border-color: red;
    color: red;
}

div.border {
    border: 1px solid black;
    padding: 5px;
    float: left;
}

.clear {
    clear: both;
}

.ws3 div,
.ws4.div {
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

.ws3 {
    table,
    tr,
    td {
        margin: 10px;
        padding: 10px;
    }

    table,
    tr,
    td,
    th {
        border: 1px solid gray;
        width: 50%;
        border-collapse: collapse;
        padding: 5px;
    }
}

table.display {
    width: 100%;
}

.ws4 {
    img {
        position: relative;
        left:0px;
    }
}

.ws5 {
    table,
    &.tr,
    &.td {
        border: 1px solid gray;
        width: 50%;
        border-collapse: collapse;
        padding: 5px;
    }
    
    div {
        width: 200px;
        margin: 20px;
        padding: 20px;
        border: 1px solid black;
    }
    
    span {
        display: none;
    }
    
    .error {
        span {
            display: block;
        }
    } 
}

.ws6 {
    div {
        margin-bottom: 10px;
    }

    table,
    tr,
    td {
        border: 1px solid gray;
        width: 50%;
    }
}

.ws7 {
    table,
    tr,
    td {
        border: 1px solid gray;
        width: 50%;
    }

    div {
        min-width: 200px;
        width: auto;
        min-height: 200px;
        height: auto;
        border: 1px solid black;
    }
}

.ws8 {
    table {
        border-collapse: collapse;
        width: 700px;
        border: 1px solid black;
    }
    
    th,
    td {
        padding: 4px;
        font-family: Verdana;
        font-size: 12px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    th,
    td {
        border: 1px solid #ddd;
    }
    
    td {
        height: 40px;
        text-align: center;
        vertical-align: middle;
    }
    
    img {
        width: 100px;
    }
}


#jsondata,
#rawdata,
#weatherdata {
    border: 1px solid black;
    padding: 10px;
}

.ws9 {
    div {
        width: 200px;
        height: 100px;
        border: 1px solid black;
    }
    
    #main-content {
        width: 100%;
        height: auto;
        border: 0;
    }
}

#ajax {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    overflow: auto;
    padding: 20px;
}
