/* Cascade layers order from lowest to highest priority */
@layer reset, defaults, patterns, components, utilities, overrides;

@layer defaults {
	body {
		font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
			Georgia, serif;
		color: #000;
		background-color: #fff;
		margin: 20px;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 32px;
		font-style: normal;
		font-variant: normal;
		font-weight: 700;
	}

	h3 {
		font-size: 25px;
		font-style: normal;
		font-variant: normal;
		font-weight: 700;
	}

	p {
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
	}

	blockquote {
		font-size: 25px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
	}

	pre {
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
	}

	hr {
		border: 1px solid #1966a2;
	}

	section {
		border-top: 2px solid #1966a2;
		padding: 1rem 0;
	}
}

@layer components {
	.red-box {
		background: red;
		width: 50px;
		height: 50px;
	}

	.red,
	.error,
	.error textarea,
	.error input {
		border-color: red;
		color: red;
	}

	div.border {
		border: 1px solid black;
		padding: 5px;
		float: left;
	}

	table.display {
		width: 100%;
	}
}

@layer utilities {
	.clear {
		clear: both;
	}

	.no-border {
		border: 0;
		height: auto;
		padding: 0;
		margin: 0;
	}
}

/* Workshop 3 */
.ws3 {
	div {
		width: 200px;
		height: 100px;
		border: 1px solid black;
	}

	table,
	tr,
	td {
		margin: 10px;
		padding: 10px;
	}

	table,
	tr,
	td,
	th {
		border: 1px solid gray;
		width: 50%;
		border-collapse: collapse;
		padding: 5px;
	}
}

/* Workshop 4 */
.ws4 {
	div {
		width: 200px;
		height: 100px;
		border: 1px solid black;
	}

	img {
		position: relative;
		left: 0px;
	}
}

/* Workshop 5 */
.ws5 {
	table,
	&.tr,
	&.td {
		border: 1px solid gray;
		width: 50%;
		border-collapse: collapse;
		padding: 5px;
	}

	div {
		width: 200px;
		margin: 20px;
		padding: 20px;
		border: 1px solid black;
	}

	span {
		display: none;
	}

	.error {
		span {
			display: block;
		}
	}
}

/* Workshop 6 */
.ws6 {
	div {
		margin-bottom: 10px;
	}

	table,
	tr,
	td {
		border: 1px solid gray;
		width: 50%;
	}
}

/* Workshop 7 */
.ws7 {
	table,
	tr,
	td {
		border: 1px solid gray;
		width: 50%;
	}

	div {
		min-width: 200px;
		width: auto;
		min-height: 200px;
		height: auto;
		border: 1px solid black;
	}
}

/* Workshop 8 */
.ws8 {
	table {
		border-collapse: collapse;
		width: 700px;
		border: 1px solid black;
	}

	th,
	td {
		padding: 4px;
		font-family: Verdana;
		font-size: 12px;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	th,
	td {
		border: 1px solid #ddd;
	}

	td {
		height: 40px;
		text-align: center;
		vertical-align: middle;
	}

	img {
		width: 100px;
	}
}

/* Workshop 9 */
.ws9 {
	div {
		width: 200px;
		height: 100px;
		border: 1px solid black;
	}

	#main-content {
		width: 100%;
		height: auto;
		border: 0;
	}
}

#jsondata,
#rawdata,
#weatherdata {
	border: 1px solid black;
	padding: 10px;
}

#ajax {
	width: 80%;
	height: 500px;
	border: 1px solid black;
	overflow: auto;
	padding: 20px;
}
