/* Workshop 3 */
.ws3 {
	/* Disabled div style because it conflicts with the style switcher */
	/* div {
		width: 200px;
		height: 100px;
		border: 1px solid black;
	} */

	table,
	tr,
	td {
		margin: 1ex;
		padding: 1ex;
	}

	table,
	tr,
	td,
	th {
		border: 1px solid gray;
		width: 50%;
		border-collapse: collapse;
		padding: 5px;
	}
}
