/* Workshop 8 */
.ws8 {
	table {
		border-collapse: collapse;
		width: 700px;
		border: 1px solid black;
	}

	th,
	td {
		padding: 4px;
		font-family: Verdana;
		font-size: 12px;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	th,
	td {
		border: 1px solid #ddd;
	}

	td {
		height: 40px;
		text-align: center;
		vertical-align: middle;
	}

	img {
		width: 100px;
	}
}
